PORT=3000
NODE_ENV=development
APP_NAME=
APP_VERSION=
DATABASE_URL=
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001

JWT_ACCESS_SECRET=1ba4545bf1d4196b404fa7db5ca9bcef
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=1ba4545bf1d4196b404fa7db5ca9bcef
JWT_REFRESH_EXPIRES_IN=7d